body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

#logo {
  flex: 1;
  text-align: left;
}

#title {
  flex: 1;
  text-align: justify;
}

#logout {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}

#logout:hover {
  background-color: #d32f2f;
}

.general {
  padding: 20px;
  background-color: #246e76;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.top, .bottom {
  display: flex;
  justify-content: space-between;
}

.section {
  flex: calc(50% - 20px);
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.section h2 {
  margin-top: 0;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#chartTitle {
  background-color: rgba(75, 192, 192, 0.2);
  padding: 10px;
  color: rgba(75, 192, 192, 1);
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
}

form select, form input, form button {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

form button {
  background: linear-gradient(to right, #008073, #2fbaff); /* Green gradient */
  color: #fff; /* White text */
  border: none; /* Remove default border */
  cursor: pointer; /* Change cursor to pointer on hover */
  font-size: 1.2em; /* Make text larger */
  padding: 5px; /* Increase padding */
}

form button:hover {
  background: linear-gradient(to right, #006264, #000dfc); /* Darken color on hover */
}

.popup-content button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #008000; /* Full green */
  color: #fff; /* White text */
  border: none; /* Remove default border */
  cursor: pointer; /* Change cursor to pointer on hover */
  font-size: 1.2em; /* Make text larger */
  padding: 15px; /* Increase padding */
}

.popup-content button:hover {
  background-color: #25e925; /* Darken color on hover */
}

.popup-content p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}

.popup-content p br {
  margin-bottom: 5px;
}

.popup-content table {
  width: 100%;
  border-collapse: collapse;
}

.popup-content table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.popup-content table tr:nth-child(even) {
  background-color: #f2f2f2;
}
